p {
  margin: 10px 0 !important;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}

.row-index {
  display: flex;
  flex-wrap: wrap;
}

body {
  background-image: url("/collage.jpg");
  font-family: 'PT Sans', sans-serif;
  background-size: cover;
  background-position: center;
}

.white{
  background-color: white;
}