p {
  margin: 10px 0 !important;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}

.row-index {
  display: flex;
  flex-wrap: wrap;
}

body {
  background: url("/collage.jpg") rgba(2,0,0,0.7);
  font-family: 'PT Sans', sans-serif;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.card {
  height: 400px;
}

.card-content p {
  color: #7E7D7D;
}

.btn.grey {
  background-color: #5087F6 !important;
}

.test {
  align-items: center;
  display: flex;
  justify-content: center;
}

.white-h1 {
  color: white;
}

#white-dashboard{
  padding: 40px;
  min-height: 700px;
}

#white-more {
  padding: 20px;
  margin-top: 40px;
}